/* css document*/

p.top1{
    color:#ff0000;
    font-size:18px;
    font-family:comic sans ms;

}

h1.top1{
    color:#ff6347;
    font-size:20px;
    font-family:Lucida Console;

}
h2.top1{
    color:#446DB2;
    font-size:30px;
    font-family:'Varela Round',sans-serif;
}
h3.top1{
    color:#406fb4;
    font-size:15px;
    font-family:'Varela Round',sans-serif;
}
b.top1{
    color:black;
    font-size:18px;
    font-family:'Varela Round',sans-serif;
}
body {
    background:#f6f8f8;
    color:#4C4C4C;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    line-height: 25px;
}
label.top1{
    border: 2px solid black;
    outline: #4CAF50 solid 5px;
    margin: auto;    
    padding: 3px;
    /*text-align: center;*/

}
label.midhead{
    color : red;
    font-size: 40px;
    font-family: algerian;
    position: relative;
    left:25%;
    right:25%;
    margin-top:3cm;
 
}

label.midhead1{
    color : blueviolet;
    font-size: 30px;
    font-family: monospace;
    position: relative;
    left:25%;
    right:25%;
    margin-top: 1cm;
}
select.index1{
    
    font-size:20px;
    font-family: cursive;
    border: 2;
    max-width: 400px;
    background: #446DB2;
    margin: 6cm;
    border-radius: 4cm;
    color: #f6f8f8;
    margin-top: 1cm;
    left:1cm;
    
    
    position: absolute;
   
    
}
input.index2{
    position:absolute;
    left:1cm;
   
   
    font-size:20px;
    font-family: cursive;
    border: 2;
    max-width: 400px;
    background: #446DB2;
    margin: 6cm;
    border-radius: 4cm;
    color: #080808;
    margin-top: 1cm;
    
}

/*.black-btn{ 
font-size:22px;
color:#ff0000;
border: 2px;
padding: 0px;  
background-color:black;
        }*/

/*form{
background: #fff; 
outline: none; 
color: #406fb4; 
border: 2px solid #406fb4;
        }*/
/*input{
-webkit-appearance: none;
-moz-appearance: none; 
        }*/
/*form{
padding: 9px 14px 10px; 
line-height: 1;
margin-right: 13px; 
-webkit-appearance: none; 
-moz-appearance: none; background: #406fb4; 
font-family: 'Varela Round', Helvetica, arial, sans-serif; 
font-weight: bold;
font-size: 16px;
}
*/
form.top2{
    background: #5bc4be !important; 
    font-family: 'Varela Round', Helvetica, arial, sans-serif; 
    font-weight: bold;
    padding: 9px 14px 10px; 
    margin-right: 13px;
    line-height: 1;
}


label.head1{
    font-family: 'algerian';
    font-size: 30px;
    margin-left: 38%;
    margin-right: 38%;
    color:#ff0000;
}
input.index03
{
    position:absolute;
    left:1cm;
   
   
    font-size:20px;
    font-family: cursive;
    border: 2;
    max-width: 400px;
    background: #446DB2;
    margin-left: 80%;
    border-radius: 4cm;
    color: #080808;
    margin-top: 1cm;
    
    
}
h2.head01{
    font-family: 'Broadway';
    font-size: 25px;
    margin-left: 1cm;
    /*margin-right: 38%;*/
    color:#ff0000;
}
li.row1{
    font-family: 'Broadway';
    font-size: 15px;
    margin-left: 5%;
    /*margin-right: 38%;*/
    color:#080808;
}
li.row2{
    font-family: 'Broadway';
    font-size: 15px;
    margin-left: 8%;
    /*margin-right: 38%;*/
    color: #080808;
}
input.row2{
    font-family: 'Broadway';
    font-size: 15px;
    margin-left: 25%;
    /*margin-right: 38%;*/
    color:#ff0000;
}
input.index04
{
  
    font-size:15px;
    font-family: cursive;
    border: 1;
    max-width: 200px;
    background: #446DB2;
    border-radius: 1cm;
    color: #080808;
    font-weight: bold;
    margin-left: 10px;
    
    
}
a.nam1{
    font-family: cursive;
    font-size: 15px;
    color: #080808;
    font-weight: bold;
}
a.nam2{
    font-family: cursive;
    position: absolute;
    font-size: 15px;
    color: #080808;
    font-weight: bold;
}
form.login-form{
    margin-left: 25%;
    margin-top: 5%;
}
label.lab1{
    font-family: Forte;
    font-size: 25px;
    color:	#8B0000;
    font-weight: bold;
}
label.lab2{
    font-family: Forte;
    font-size: 25px;
    color: 	#0000CD;
    font-weight: bold;
}
input.index05
{
    
    /*left:1cm;*/
   
    
    font-size:20px;
    font-family: cursive;
    font-weight: bold;
    border: 2;
    max-width: 300px;
    background: #446DB2;
    /*margin: 6cm;*/
    border-radius: 2cm;
    color: #080808;
    /*margin-top: 1cm;*/
    
}
label.lab3{
    font-family: Forte;
    font-size: 25px;
    
    margin-top: 3%;
    color: #0000CD;
    font-weight: bold;
}
input.index06
{
    
    /*left:1cm;*/
   
    
    font-size:20px;
    font-family: cursive;
    font-weight: bold;
    border: 2;
    max-width: 300px;
    background: #446DB2;
    /*margin: 6cm;*/
    border-radius: 2cm;
    color: #080808;
    margin-top: 1cm;
    
}
label.midhead3{
    color : red;
    font-size: 40px;
    font-family: algerian;
    position: relative;
    left:25%;
    right:25%;
    margin-top:1cm;
 
}
input.login{
    margin-left: 10cm;
    
}